
@import 'bourbon/bourbon';
@import 'additional/variables';
@import 'additional/additional';
@import 'additional/type';

html
{
font-size: $base-size-mobile;
}

/* Here come the columns */

.container 
{
	margin: 0 auto;
	width: $container-mobile;
}

/* Clearfixed elements */

section,
.row
{
@include clearfix();
position: relative;
}

/* Default typeface and weight declarations */

body
{
font-family: $regular-type;
@include font-size(1.6);
@include line-height(3);
color: $dark-grey;
}

/* This resets the h tags before we do anything else to them */

h1,
h2,
h3,
h4,
h5,
h6
{
@include font-size(1);
@include line-height(1);
	margin: 0;
	padding: 0;
font-weight: $regular;
}

/* Basic imagery fun here */

img[data-responsive="fill-width"]
{
min-width: 100%;
max-width: 100%;
height: auto;	
}

img, a img
{
border: 0;	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

html
{
font-size: $base-size-732;
}

/* Here come the columns */

.container
{
margin: 0 auto;
width: $container-732;
}

%column
{
margin-left: $margin-732;
margin-right: $margin-732;
float: left;

}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

html
{
font-size: $base-size-960;
}

/* Here come the columns */

.container
{
margin: 0 auto;
width: $container-960;
}

%column
{
margin-left: $margin-960;
margin-right: $margin-960;
float: left;
}

}

@media only screen and (min-width : 1025px) {

html
{
font-size: $base-size-1140;
}

/* Here come the columns */

.container
{
margin: 0 auto;
width: $container-1140;
}

%column
{
margin-left: $margin-1140;
margin-right: $margin-1140;
float: left;
}

}

@import 'blog_theme/blog_theme';
@import 'additional/jqmob_ui';
